h1 {
  color: #f20000;
  text-align: center;
  font: 60px;
}

body {
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  text-align: center;
}

li {
  font-weight: 700;
  font-style: oblique;
  line-height: 30px;
}

img {
  border-radius: 360%;
}

