h1 {
  color: aquamarine;
  text-align: center;
  font: 60px;
}

body {
  color: #132239;
  background-color: #778b9e;
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  text-align: center;
}

li {
  font-weight: 700;
  font-style: oblique;
  line-height: 30px;
}

img {
  border-radius: 360%;
}

